<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.legittees.com/wp-content/uploads/Neptune_Indigo_W_SS_crop-750x750.jpg" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Readymade you probably haven't heard of them distillery echo park. Health food truck chambray artisan kinfolk whatever mixtape. Gochujang kickstarter lyft pitchfork copper mug raw denim cray taiyaki etsy. Franzen shaman keytar, synth iPhone enamel. Selvage pop-up tumblr fashion axe, direct trade af drinking vinegar jianbing kombucha occupy cronut. </p>
        <div class="clearfix">
          <div class="price pull-left">$25</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.legittees.com/wp-content/uploads/Neptune_Indigo_W_SS_crop-750x750.jpg" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Readymade you probably haven't heard of them distillery echo park. Health food truck chambray artisan kinfolk whatever mixtape. Gochujang kickstarter lyft pitchfork copper mug raw denim cray taiyaki etsy. Franzen shaman keytar, synth iPhone enamel. Selvage pop-up tumblr fashion axe, direct trade af drinking vinegar jianbing kombucha occupy cronut. </p>
        <div class="clearfix">
          <div class="price pull-left">$25</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.legittees.com/wp-content/uploads/Neptune_Indigo_W_SS_crop-750x750.jpg" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Readymade you probably haven't heard of them distillery echo park. Health food truck chambray artisan kinfolk whatever mixtape. Gochujang kickstarter lyft pitchfork copper mug raw denim cray taiyaki etsy. Franzen shaman keytar, synth iPhone enamel. Selvage pop-up tumblr fashion axe, direct trade af drinking vinegar jianbing kombucha occupy cronut. </p>
        <div class="clearfix">
          <div class="price pull-left">$25</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.legittees.com/wp-content/uploads/Neptune_Indigo_W_SS_crop-750x750.jpg" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Readymade you probably haven't heard of them distillery echo park. Health food truck chambray artisan kinfolk whatever mixtape. Gochujang kickstarter lyft pitchfork copper mug raw denim cray taiyaki etsy. Franzen shaman keytar, synth iPhone enamel. Selvage pop-up tumblr fashion axe, direct trade af drinking vinegar jianbing kombucha occupy cronut. </p>
        <div class="clearfix">
          <div class="price pull-left">$25</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.legittees.com/wp-content/uploads/Neptune_Indigo_W_SS_crop-750x750.jpg" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Readymade you probably haven't heard of them distillery echo park. Health food truck chambray artisan kinfolk whatever mixtape. Gochujang kickstarter lyft pitchfork copper mug raw denim cray taiyaki etsy. Franzen shaman keytar, synth iPhone enamel. Selvage pop-up tumblr fashion axe, direct trade af drinking vinegar jianbing kombucha occupy cronut. </p>
        <div class="clearfix">
          <div class="price pull-left">$25</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.legittees.com/wp-content/uploads/Neptune_Indigo_W_SS_crop-750x750.jpg" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Readymade you probably haven't heard of them distillery echo park. Health food truck chambray artisan kinfolk whatever mixtape. Gochujang kickstarter lyft pitchfork copper mug raw denim cray taiyaki etsy. Franzen shaman keytar, synth iPhone enamel. Selvage pop-up tumblr fashion axe, direct trade af drinking vinegar jianbing kombucha occupy cronut. </p>
        <div class="clearfix">
          <div class="price pull-left">$25</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
